html, body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	font-size: 16px;
	color: #000;
}

#stage {
	width: 100%;
	height: 200px;
}

#plane {
	width: 200px;
	height: 200px;
	background: -webkit-radial-gradient(center, closest-corner, #1a82f7, #2f2727);
	box-shadow: 0 0 20px #000;
	margin: 0 auto;
	position: relative;
	top: 50px;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
}